{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
<h1>GrhParams edit</h1>
<form action="{{ path('grhparams_update',{'id': entity.id}) }}" method="POST">
    <div>
            {{ form_label(edit_form.param, "Paramètre") }}
            {{ form_errors(edit_form.param, {'attr':{'class':'alert alert-error'} } ) }}
            {{ form_widget(edit_form.param, {'attr':{'readonly':'readonly'} } ) }}
    </div>
    <div>
            {{ form_label(edit_form.valeur, "Valeur") }}
            {{ form_errors(edit_form.valeur, {'attr':{'class':'alert alert-error'} } ) }}
            {{ form_widget(edit_form.valeur, {'attr':{'style':'width:569px;height:172px;'} } ) }}
    </div>
         {{ form_widget(edit_form.submit , {'attr':{'class':'btn btn-warning'} } ) }}
    {{ form_rest(edit_form) }}
</form>
{#    {{ form(edit_form) }}#}

{#<ul class="record_actions">
    <li>
        <a href="{{ path('grhparams') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>#}
{% endblock %}
