{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
<h1>GrhParams creation</h1>

{#    {{ form(form) }}#}
<form action="{{ path('grhparams_create',{'id': entity.id}) }}" method="POST">
    <div>
            {{ form_label(form.param, "Paramètre") }}
            {{ form_errors(form.param, {'attr':{'class':'alert alert-error'} } ) }}
            {{ form_widget(form.param) }}
    </div>
    <div>
            {{ form_label(form.valeur, "Valeur") }}
            {{ form_errors(form.valeur, {'attr':{'class':'alert alert-error'} } ) }}
            {{ form_widget(form.valeur, {'attr':{'style':'width:569px;height:172px;'} } ) }}
    </div>
         {{ form_widget(form.submit , {'attr':{'class':'btn btn-success'} } ) }}
    {{ form_rest(form) }}
</form>

{#<ul class="record_actions">
    <li>
        <a href="{{ path('grhparams') }}">
            Back to the list
        </a>
    </li>
</ul>#}
{% endblock %}
