{% extends '::neguit.layout.html.twig' %}
{% block module_name %} NEGUIT - {{ Corp }}{% endblock module_name %}
{% block titre %} {{ Corporation }} - Intranet {% endblock%}

{% set module = "neguit" %}

{% block modules %}
    {{ parent() }}        
    {#<!-- <a class="custom" id="lateStat" href=""> Stat en retard (8)</a> -->#}
{% endblock %}

{% block sidebar %}
    <ul id="leftNavUl" >
        <li>
            <a href="{{ path('planning_index') }}" >
                <span class=""> <i class="icon-black icon-home"></i> Pointage </span>
            </a>
        </li>
        <li>
            <a href="{{ path('planning_history') }}" >
                <span class=""> <i class="icon-black icon-calendar"></i> Historique </span>
            </a>
        </li>
        <li>
            <a href="{{ path('pseudo_new') }}" >
                <span class=""> <i class="icon-black icon-user"></i> Pseudos </span>
            </a>
        </li>
        <li>
            <a href="{{ path('pv_new') }}" >
                <span class=""> <i class="icon-black icon-question-sign"></i> Fantomes </span>
            </a>
        </li>
        <li>
            <a href="{{ path('affectLoginAnim') }}" >
                <span class=""> <i class="icon-black icon-question-sign"></i> Affectation </span>
            </a>
        </li>
        <li>
            <a href="#" >
                <span class=""> <i class="icon-black icon-tags"></i> Type annimation </span>
            </a>
        </li>
    </ul>
{% endblock %}