{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
    {#<h1>GrhContrats edit</h1>#}

{#    {{ form(edit_form) }}#}
<form action="{{ path('grhcontrats_update', {'id':entity.id}) }}" method="POST">

    <div>
        
        <h3> Contrat de {{ entity.employe }} </h3>
        {{ form_errors(edit_form.employe)}}
        {{ form_widget(edit_form.employe, {'attr': {'class':'hidden'} })}}
    </div>
    <div>
        {{ form_label(edit_form.type, "Type de contrat")}}
        {{ form_errors(edit_form.type)}}
        {{ form_widget(edit_form.type)}}
    </div>
   
    <div class="form-row " >
        {{ form_label(edit_form.debut, "Date de debut du contrat")}}
        <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            {# Génération de l'input. #}
            {{ form_errors(edit_form.debut)}}
            {{ form_widget(edit_form.debut)}}
            <span class="add-on"><i class="icon-remove"></i></span>
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
    </div>
   
    <div>
        {{ form_label(edit_form.commentaire, "Commentaire")}}
        {{ form_errors(edit_form.commentaire)}}
        {{ form_widget(edit_form.commentaire)}}
    </div>
    <div>
        {{ form_widget(edit_form.submit, {'attr':{'class':'btn btn-warning'} } )}}

        <a href="{{ path('grhcontrats_show',{'id':entity.id}) }}" class="btn btn-primary"> Annuler </a>
    </div>

{{ form_rest(edit_form) }}
</form>

<ul class="record_actions">
    <li>{% include 'LooninsGrhBundle:GrhContrats:delete.html.twig' %}</li>
</ul>
{% endblock %}
