{% extends 'LooninsSuiviBundle::layout.html.twig' %}
{% block legend %}
    <!-- Index des statistiques 
    <button style="float: right;margin-left: 5px;" class="btn btn-primary" id="open-stat" >
        Nouvelle entr&eacute;e statistique
    </button>
    <a target="blank" class="btn btn-alert" style="float:right;border-bottom: solid 1px silver;" href="{{ path('stat_export') }}"> Exporter en csv </a> 
     <br style="clear:both;"> -->

{% endblock %}


{% block panel_head %}

{% endblock %}


{% block stylesheets %}
    {{ parent()}}
   
{% endblock %}

{% block body %}
    {% include  'LooninsSuiviBundle:Stat:search_form.html.twig' %}
          
    
        {% if stats is defined and stats is not null%}
                {% set entities = stats %}
                <table class="table table-striped  table-hover" >
                   
                    <thead class="alert alert-info">
                        <tr>
                            <th style="padding:0px;vertical-align:middle;text-align: center;" colspan="3"> Du 
                                <b> {{ busDtDebut|date('d/m/Y') }} </b>
                                Au <b> {{ busDtFin|date('d/m/Y') }} </b>
                            </th>

                            <th style="padding:0px;vertical-align:middle;text-align: center;" colspan="3">
                                 <b> {{ table|upper }}  </b>
                            </th>

                            <th style="padding:0px;vertical-align:middle;text-align: center;" colspan="3">
                                 {{ employe }}
                            </th>
                        </tr>
                        <tr >
                            <th style="padding:0px;vertical-align:middle;text-align: center;">Date Business</th>
                            <th style="padding:0px;vertical-align:middle;text-align: center;">Login</th>
                            <th style="padding:0px;vertical-align:middle;text-align: center;">Msg/Heure</th>
                            <th style="padding:0px;vertical-align:middle;text-align: center;">Total</th>
                            <th style="padding:0px;vertical-align:middle;text-align: center;">Progrmm&eacute;</th>
                            <th style="padding:0px;vertical-align:middle;text-align: center;">R&eacute;eel</th>
                            <th style="padding:0px;vertical-align:middle;text-align: center;"> Prime </th>
                            <th style="padding:0px;vertical-align:middle;text-align: center;"> E/C </th>
                            {% if is_granted('ROLE_SAR') %}
                            <th style="padding:0px;vertical-align:middle;text-align: center;"> 
                            Action </th>
                            {% endif %}
                        </tr>
                    </thead>

                    <tbody class="tbody">
                        
                        {% set SUM_MPH = 0 %}
                        {% set SUM_RL = 0 %}
                        {% set SUM_PRG = 0 %}
                        {% set SUM_TT = 0 %}
                        {% set SUM_MPC = 0 %}
                        {% set SUM_PRM = 0 %}

                        {% for entity in entities %}
                            <tr style="height:15px;">

                                <td style="padding:0px;vertical-align:middle">{{ entity.dateStat|date('Ymd')}}</td>
                                <td style="padding:0px;vertical-align:middle;">{{ entity.animatrice.loginAnim }}</td>
                                <td style="padding:0px;vertical-align:middle;text-align:center" >{{ entity.msgParHeure }}</td>
                                <td style="padding:0px;vertical-align:middle;text-align:right;">{{ entity.total|number_format(0, ',', ' ') }}</td>
                                <td style="padding:0px;vertical-align:middle;text-align:right">{{ entity.programmed }}</td>
                                
                                <td  style="padding:0px;vertical-align:middle;text-align:right"> 
                                    {% if entity.retard == 1 %}
                                        <span style="padding:0px;border-radius:0px;background-color:  rgba(185, 74, 72, 0.77);color: white;">
                                            {% else %}
                                        <span  style="padding:0px;border-radius:0px;background-color: rgba(70, 136, 71, 0.77);color: white;">
                                    {% endif %}

                                    {{ entity.reel }}
                                    </span>
                                </td>
                                <td style="padding:0px;vertical-align:middle;text-align:right">
                                    {{ entity.prime }}
                                </td>
                                
                                    <!-- <th> Message/conv </th> -->
                                <td style="padding:0px;vertical-align:middle;text-align:right"> {{ entity.msgParConv }}</td>
                                
                                {% if is_granted('ROLE_SAR') %}
                                <td style="padding:0px;text-align:left;vertical-align:middle;text-align:center"> 
                                    <a target="_blank" href="{{ path('stat_edit_details', {'id':entity.id}) }}" style="color:blue;" > Details  </a>
                                     / 
                                    <a target="_blank" href="{{path('stat_edit', {'id': entity.id,'from':'rech' })}}" style="color:orange;" class="alert-warning">  Editer </a> 
                                     / 
                                    <a target="_blank" href="{{path('stat_view', {'id': entity.id,'from':'rech' })}}" style="color:red;" >  Supprimer </a>
                                </td>
                                {% endif %}
                            </tr>
                            {%  set SUM_MPH = SUM_MPH + entity.msgParHeure  %}
                            {% set SUM_RL = SUM_RL + entity.reelSeconds %}
                            {% set SUM_PRG = SUM_PRG + entity.programmedSeconds %}
                            {% set SUM_TT =  SUM_TT  + entity.total %}
                            {% set SUM_MPC = SUM_MPC + entity.msgParConv %}
                            {% set SUM_PRM = SUM_PRM + entity.prime %}
                        {% endfor %}
                    </tbody>
                </table>
                <!-- <table style="position:fixed; bottom:0%;left:0%;z-index:9999999;width:85%;" class="table alert">
                    <thead class="alert alert-info">
                        <tr>
                            <th>
                                <!-- <button onclick="$('.total').addClass('hide')" id="totaux"> A </button>
                                <br/> -->
                                <button onclick="$('.total').addClass('hide')" id="totaux"> V </button>
                            </th>
                            <th class="total">Totaux de {{ employe }}  <br/>  
                            BusDt : Du <b> {{ busDtDebut|date('d/m/Y') }} </b> Au <b> {{ busDtFin|date('d/m/Y') }} </b>
                            <th class="total" style="width:120px;">
                                Msg/Heure : 
                                {% if SUM_RL > 0 %}
                                    {{ ((SUM_TT/ SUM_RL) * 3600)|number_format(2, ',', ' ') }}

                                {% else %}
                                    0
                                {% endif %}
                                
                            </th>
                            <th class="total" style="width:100px;"> Total : {{ SUM_TT|number_format(0, ',', ' ') }} </th>
                            <th class="total" id="cumul_prg" style="width:120px;">&nbsp;</th>

                            <th class="total"  id="cumul_reel" style="width:100px;">&nbsp;</th>
                            <th class="total" style="width:100px;">Prime : {{ SUM_PRM|number_format(0, ',', ' ') }} </th>
                            
                            <th class="total" style="width:120px;"> Msg/Conv : {{ SUM_MPC|number_format(0, ',', ' ') }} </th>


                            <script type="text/javascript">
                                // alert( {{ SUM_PRG }})ee
                                function formatSeconds(s){
                                    s = s.toFixed(2);
                                    // console.log('SS '  +s);

                                    var h = Math.floor(s/3600); //Get whole hours
                                    // console.log('H '  +h);

                                    s -= h*3600;
                                    s = s.toFixed(2);
                                    var m = Math.floor(s/60); //Get remaining minutes
                                    // console.log(s + '/M '  +m);

                                    s -= m*60;
                                    // console.log(s  +' /Sec '  +s);
                                    var time =  (h < 10 ? '0'+h : h)+":"+(m < 10 ? '0'+m : m)+":"+(s < 10 ? '0'+s : s); //zero padding on minutes and 
                                    return time;
                                }
                                var prg = formatSeconds({{ SUM_PRG }});
                                var rl = formatSeconds({{ SUM_RL }});
                                var c_prg = document.getElementById("cumul_prg");
                                var c_rl = document.getElementById("cumul_reel");
                                //c_prg.textContent
                                c_prg.innerHTML = " Program. : " + prg;
                                c_rl.innerHTML = " R&eacute;el. : " + rl;
                                //console.log(" Program. : " + prg);

                            </script>
                            
                            
                        </tr>
                    </thead>
                </table> -->
        {% endif %}

        {% include 'LooninsSuiviBundle:Stat:modal_new_stat.html.twig' %}
      <!--   <div id="stat-modal" tabindex="-1">
            <div class="modal" >
                <div class="modal-header">
                    <h3 id="myModalLabel">Nouvelle entr&eacute;e de statistique</h3>
                </div>
                <div class="modal-body">
                    <form class="" action="{{ path('stat') }}" method="post">
                       
                        <div class="form-row" style="display: inline;float: left;">
                            {{ form_label(form.dateStat, "Date statistique") }}
                                <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.dateStat) }}
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                        </div>                    

                        <div  class="form-row"  style="display: inline;float: right;">
                            {{ form_label(form.type, "Table Statistique") }}
                            {{ form_errors(form.type, {'attr': {'class': 'alert alert-error'} }) }}
                            {# Génération de l'input. #}
                            {{ form_widget(form.type) }} 
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" >
                        Commencer la saisie des statistiques
                    </button>
                    <button id="close-stat-modal" class="btn btn-warning" type="reset">Annuler</button>
                </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div> -->    
{% endblock %}

