{% extends 'LooninsSuiviBundle::layout.html.twig' %}


{% block legend %}
    Index des statistiques 
        <button style="float: right;margin-left: 5px;" class="btn btn-primary" id="open-stat" >
            Nouvelle entr&eacute;e statistique
        </button>
        <a target="blank" class="btn btn-alert" style="float:right;border-bottom: solid 1px silver;" href="{{ path('stat_export') }}"> Exporter en csv </a> 
         <br style="clear:both;">
{% endblock %}


{% block stylesheets %}
    {{ parent()}}
   
{% endblock %}

{% block body %}
    {% include  'LooninsSuiviBundle:Stat:search_form.html.twig' %}
         {% if cumul is defined and cumul is not null %}
                
                <style type="text/css">
                    
                    td{
                        vertical-align: middle;
                    }
                </style>
                <table class="table table-striped  table-hover" >
                    <thead class="alert alert-info">
                        <tr style="height:15px;">
                            <th style="padding:0px;vertical-align:middle;text-align: center;" colspan="2"> Du 
                                <b> {{ busDtDebut|date('d/m/Y') }} </b>
                                Au <b> {{ busDtFin|date('d/m/Y') }} </b>
                            </th>
                            <th style="padding:0px;vertical-align:middle;text-align: center;" colspan="4">
                                <b> {{ table|upper }}  </b>
                            </th>
                            <th style="padding:0px;vertical-align:middle;text-align: center;" colspan="3">
                                {{ animatrice }}
                            </th>
                        </tr>
                        <tr style="height:15px;">
                            <th style="padding:0px;vertical-align:middle">Login  </th>
                            <th style="padding:0px;vertical-align:middle">Messages/heure</th>
                            <th style="padding:0px;vertical-align:middle">Total</th>
                            <th style="padding:0px;vertical-align:middle">Progrmm&eacute;</th>
                            <th style="padding:0px;vertical-align:middle">R&eacute;eel</th>
                            <th style="padding:0px;vertical-align:middle"> Prime </th>
                            <th style="padding:0px;vertical-align:middle">Message/conv </th>
                            <th style="padding:0px;vertical-align:middle"> Details  </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for c in cumul %}
                            <tr style="height:15px;">
                                <td style="padding:0px;vertical-align:middle"> {{ c.SS.animatrice }} </td>
                                <td style="padding:0px;vertical-align:middle"> 
                                {% if c.RL > 0 %}
                                    {{ ((c.TT/c.RL) * 3600)|round(2, 'common') }} 
                                {% else %}
                                    0
                                {% endif %}
                                </td>
                                <td style="padding:0px;vertical-align:middle"> {{ c.TT }} </td>
                                <td style="padding:0px;vertical-align:middle">
                                    
                                    {% set s = c.PRG  %}
                                    <!-- //Get whole hours -->
                                    
                                    {% set h = (s/3600)|round(0, 'floor')  %}

                                    <!-- //Get remaining minutes -->
                                    {% set s = s- (h*3600) %}  
                                    
                                    {% set m = (s/60)|round(0, 'floor')  %}

                                    {% set s = (s- (m*60))|round(0, 'floor') %}

                                        {{ (h <10) ? '0'~ h : h }}:{{(m < 10) ? '0'~ m : m}}:{{ (s<10) ? '0'~s:s  }}
                                        

                                </td>


                                    {% set cumulReel = (c.TT/c.AVG_MPH)|round(2, 'floor') %}
                                    
                                    {% if c.RL < ((7/8) * c.PRG) %}
                                        <td class="alert alert-danger" style="padding:0;background-color:  rgba(185, 74, 72, 0.77);color: white;">
                                    {% else %}
                                        <td class="alert alert-danger" style="padding:0;background-color: rgba(70, 136, 71, 0.77);color: white;">
                                    {% endif %}
                                    

                                    {% set s = c.RL  %}
                                    <!-- //Get whole hours -->
                                    
                                    {% set h = (s/3600)|round(0, 'floor')  %}

                                    <!-- //Get remaining minutes -->
                                    {% set s = s- (h*3600) %}  
                                    
                                    {% set m = (s/60)|round(0, 'floor')  %}

                                    {% set s = (s- (m*60))|round(0, 'floor') %}

                                    {{ (h <10) ? '0'~ h : h }}:{{(m < 10) ? '0'~ m : m}}:{{ (s<10) ? '0'~s:s  }}
                                       
                                </td>
                                <td style="padding:0px;vertical-align:middle"> {{ c.SUM_PRM }} </td>
                                <td style="padding:0px;vertical-align:middle"> {{ c.MPC}} </td>
                                <td style="padding:0px;vertical-align:middle"> 
                                    {% if typeTable is empty %}
                                        <a target="_blank" href="{{ path('stat_cumul_by_anim', {'busdt1': busDtDebut|date('Y-m-d'), 'busdt2':busDtFin|date('Y-m-d'), 'type':0,'animatrice':c.SS.animatrice.id }) }}">
                                        Voir plus 
                                        </a>
                                    {% else %}
                                        <a target="_blank" href="{{ path('stat_cumul_by_anim', {'busdt1': busDtDebut|date('Y-m-d'), 'busdt2':busDtFin|date('Y-m-d'), 'type':typeTable.id,'animatrice':c.SS.animatrice.id }) }}">
                                        Voir plus 
                                        </a>
                                    {% endif %}
                                    
                                </td>
                            </tr>
                        {% endfor  %}
                    </tbody>

                  
                </table>
        {% endif %}

          
{% endblock %}
