{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
    <legend>Nouveau type de contrat</legend>
    <form action="{{ path('grhtype_create') }}" method="POST">
    <div>
        {{ form_label(form.type, "Libellé") }}
        {{ form_errors(form.type) }}
        {{ form_widget(form.type) }}
    </div>
    <div>
        {{ form_label(form.duree, "Durée du contrat en mois (0 Si indéterminée)") }}
        {{ form_errors(form.duree) }}
        {{ form_widget(form.duree) }}
    </div>
    {{ form_widget(form.submit, {'attr':{'class':'btn btn-success'} }) }}
    {{ form_rest(form) }}
</form>
{% endblock %}
