{% extends 'LooninsSuiviBundle::layout.html.twig' %}

{% block legend %}
     Modification animatrice
{% endblock %}

{% block body -%}
    <form action="{{ path('animatrice_update',{'id':entity.id}) }}" method="post">
    	<div>
            {{ form_label(edit_form.employe, "Nom et prénoms Animatrice") }}
            {{ form_errors(edit_form.employe, {'attr': {'class': 'alert alert-error'} }) }}
            {# Génération de l'input. #}
            {{ form_widget(edit_form.employe) }} 
        </div>

        <div>
            {{ form_label(edit_form.login, "Login Animatrice") }}
            {{ form_errors(edit_form.login, {'attr': {'class': 'alert alert-error'} }) }}
            {# Génération de l'input. #}
            {{ form_widget(edit_form.login) }} 
        </div>
        {{ form_widget(edit_form.submit , {'attr': {'class':'btn btn-warning'} }) }} 
     	<a href="{{ path('animatrice') }}" class="btn btn-info"> Annuler </a>
    	{{ form_rest(edit_form) }}
    </form>

{% endblock %}
