{% extends 'LooninsGrhBundle::layout.html.twig' %}


{% block body -%}
    
    
    
    <div class="" id="employees">
        <a class="btn btn-info" href="{{ path('grhemployes_new') }}"> Nouvel employ&eacute; </a>
        
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#contrat">Sous contrat ({{ entities|length }})</a></li>
            <li><a data-toggle="tab" href="#new">Nouveaux ({{ empN|length }})</a></li>
            <li><a data-toggle="tab" href="#archived">Archivés ({{ empT|length }})</a></li>
            <li><a data-toggle="tab" href="#stagiaires">Stagiaires ({{ empS|length }})</a></li>
        </ul>

        
    <div class="tab-content">
      <div id="contrat" class="tab-pane fade in active">
          <table class="table table-bordered records_list">
            <thead>
                <tr>
                    <th style="border-radius: 0 style="padding:0px;vertical-align:middle;"px 0px;padding:0px;vertical-align:middle;">Mle</th>
                    <th style="border-radius: 0 style="padding:0px;vertical-align:middle;"px 0px;padding:0px;vertical-align:middle;">Nom</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Prenoms</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Sexe</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Date Naiss</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Lieu Naiss</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Situation Matrimoniale</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Contact </th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Date Entree</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Assur&eacute;(e)</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> &nbsp; </th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                            {#
                                {% if  entity.dateentree.date ==  "-0001-11-30 00:00:00"  %}
                                <tr>
                                {% else %}
                                    {% set  limit = entity.dateentree|date_modify("+2 years")|date("Ymd") %}

                                    {% if limit <= "now"|date("Ymd") and  entity.assurance != 1 %}
                                    <tr class="alert alert-danger">
                                    {% else %}
                                    <tr>
                                    {% endif %}
                                {% endif %}
                            #}

                            <tr>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.mle }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.nom }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.prenoms }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.sexe.sexe }}</td>
                            <td style="padding:0px;vertical-align:middle;">{% if entity.datenaiss %}{{entity.datenaiss|date('d-m-Y')}}{% endif %}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.lieuNaiss }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.sitMat.sitMat }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.phone }}</td>
                            <td style="padding:0px;vertical-align:middle;">
                                {% if  entity.dateentree.date ==  "-0001-11-30 00:00:00"  %}
                                    {{ " Non précisé " }}
                                {% else %}
                                    {#                                        {{ "OK ca passe" }}#}
                                    {{ entity.dateentree is empty ? "" : entity.dateentree|date("d-m-Y", false) }}
                                {% endif %}
                            </td> 
                            <td style="padding:0px;vertical-align:middle;">{{ entity.assurance == 1 ? 'OUI' : 'NON' }}</td>
                            <td style="padding:0px;vertical-align:middle;">
                                <a target="_blank" href="{{ path('grhcontrats_from_employe', { 'employe': entity.id }) }}"> Contrats </a> | 
                                <a  href="{{ path('grhemployes_show', { 'id': entity.id }) }}"> Afficher </a> | 
                                <a class="alert-success" href="{{ path('grhemployes_fiche', { 'id': entity.id }) }}">
                                    Fiche salari&eacute;
                                </a>|
                                <a class="alert-success" onclick="return confirm('Êtes vous sûr de vouloir archiver cet employé?');" href="{{ path('grhemployes_trash', { 'id': entity.id }) }}">
                                    Archiver
                                </a>
                            </td>
                        </tr> 
                {% endfor %}
            </tbody>
        </table>
      </div>
      <div id="new" class="tab-pane fade in">
          <table class="table table-bordered records_list">
            <thead>
                <tr>
                    <th style="border-radius: 0 style="padding:0px;vertical-align:middle;"px 0px;padding:0px;vertical-align:middle;">Nom</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Prenoms</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Contact </th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Date Entree</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Assur&eacute;(e)</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Date Naiss</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Lieu Naiss</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Sexe</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Situation Matrimoniale</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> &nbsp; </th>
                </tr>
            </thead>
            <tbody>
                {% for entity in empN %}
                        {% if  entity.dateentree.date ==  "-0001-11-30 00:00:00"  %}
                            <tr>
                            {% else %}
                                {% set  limit = entity.dateentree|date_modify("+2 years")|date("Ymd") %}

                                {% if limit <= "now"|date("Ymd") and  entity.assurance != 1 %}
                                <tr class="alert alert-danger">
                                {% else %}
                                <tr>
                                {% endif %}
                                {#                        {{ entity.dateentree is empty ? "" : entity.dateentree|date("d-m-Y", false) }}#}
                            {% endif %}


                            <td style="padding:0px;vertical-align:middle;">{{ entity.nom }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.prenoms }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.phone }}</td>
                            <td style="padding:0px;vertical-align:middle;">
                                {% if  entity.dateentree.date ==  "-0001-11-30 00:00:00"  %}
                                    {{ " Non précisé " }}
                                {% else %}
                                    {#                                        {{ "OK ca passe" }}#}
                                    {{ entity.dateentree is empty ? "" : entity.dateentree|date("d-m-Y", false) }}
                                {% endif %}
                            </td> 
                            <td style="padding:0px;vertical-align:middle;">{{ entity.assurance == 1 ? 'OUI' : 'NON' }}</td>
                            <td style="padding:0px;vertical-align:middle;">{% if entity.datenaiss %}{{entity.datenaiss|date('d-m-Y')}}{% endif %}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.lieuNaiss }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.sexe.sexe }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.sitMat.sitMat }}</td>
                            <td style="padding:0px;vertical-align:middle;">
                                <a target="_blank" href="{{ path('grhcontrats_new', { 'employe': entity.id }) }}"> Nouveau contrat </a> | 
                                <a  href="{{ path('grhemployes_show', { 'id': entity.id }) }}"> Afficher </a>|
                                <a class="alert-success" onclick="return confirm('Êtes vous sûr de vouloir archiver cet employé?');" href="{{ path('grhemployes_trash', { 'id': entity.id }) }}">
                                    Archiver
                                </a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <div id="archived" class="tab-pane fade in">
          <table class="table table-bordered records_list">
            <thead>
                <tr>
                    <th style="border-radius: 0 style="padding:0px;vertical-align:middle;"px 0px;padding:0px;vertical-align:middle;">Nom</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Prenoms</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Contact </th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Date Entree</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Assur&eacute;(e)</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Date Naiss</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Lieu Naiss</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Sexe</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Situation Matrimoniale</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> &nbsp; </th>
                </tr>
            </thead>
            <tbody>
                {% for entity in empT %}
                       {# {% if  entity.dateentree.date ==  "-0001-11-30 00:00:00"  %}
                            <tr>
                            {% else %}
                                {% set  limit = entity.dateentree|date_modify("+2 years")|date("Ymd") %}

                                {% if limit <= "now"|date("Ymd") and  entity.assurance != 1 %}
                                <tr class="alert alert-danger">
                                {% else %}
                                <tr>
                                {% endif %}
                                
                            {% endif %}
                        #}
                        <tr>

                            <td style="padding:0px;vertical-align:middle;">{{ entity.nom }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.prenoms }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.phone }}</td>
                            <td style="padding:0px;vertical-align:middle;">
                                {% if  entity.dateentree.date ==  "-0001-11-30 00:00:00"  %}
                                    {{ " Non précisé " }}
              |
                                <a class="alert-success" onclick="return confirm('Êtes vous sûr de vouloir archiver cet employé?');" href="{{ path('grhemployes_trash', { 'id': entity.id }) }}">
                                    Archiver
                                </a>                  {% else %}
                                    {#                                        {{ "OK ca passe" }}#}
                                    {{ entity.dateentree is empty ? "" : entity.dateentree|date("d-m-Y", false) }}
                                {% endif %}
                            </td> 
                            <td style="padding:0px;vertical-align:middle;">{{ entity.assurance == 1 ? 'OUI' : 'NON' }}</td>
                            <td style="padding:0px;vertical-align:middle;">{% if entity.datenaiss %}{{entity.datenaiss|date('d-m-Y')}}{% endif %}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.lieuNaiss }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.sexe.sexe }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.sitMat.sitMat }}</td>
                            <td style="padding:0px;vertical-align:middle;">
                                <a target="_blank" href="{{ path('grhcontrats_from_employe', { 'employe': entity.id }) }}"> Contrats </a> | 
                                <a  href="{{ path('grhemployes_show', { 'id': entity.id }) }}"> Afficher </a> | 
                                <a class="alert-success" href="{{ path('grhemployes_fiche', { 'id': entity.id }) }}">
                                    Fiche salari&eacute;
                                </a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <div id="stagiaires" class="tab-pane fade in">
          <table class="table table-bordered records_list">
            <thead>
                <tr>
                    <th style="border-radius: 0 style="padding:0px;vertical-align:middle;"px 0px;padding:0px;vertical-align:middle;">Nom</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Prenoms</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Contact </th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Date Entree</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Assur&eacute;(e)</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Date Naiss</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Lieu Naiss</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Sexe</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Situation Matrimoniale</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> &nbsp; </th>
                </tr>
            </thead>
            <tbody>
                {% for entity in empS %}
                        {% if  entity.dateentree.date ==  "-0001-11-30 00:00:00"  %}
                            <tr>
                            {% else %}
                                {% set  limit = entity.dateentree|date_modify("+2 years")|date("Ymd") %}

                                {% if limit <= "now"|date("Ymd") and  entity.assurance != 1 %}
                                <tr class="alert alert-danger">
                                {% else %}
                                <tr>
                                {% endif %}
                                {#                        {{ entity.dateentree is empty ? "" : entity.dateentree|date("d-m-Y", false) }}#}
                            {% endif %}


                            <td style="padding:0px;vertical-align:middle;">{{ entity.nom }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.prenoms }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.phone }}</td>
                            <td style="padding:0px;vertical-align:middle;">
                                {% if  entity.dateentree.date ==  "-0001-11-30 00:00:00"  %}
                                    {{ " Non précisé " }}
              |
                                <a class="alert-success" onclick="return confirm('Êtes vous sûr de vouloir archiver cet employé?');" href="{{ path('grhemployes_trash', { 'id': entity.id }) }}">
                                    Archiver
                                </a>                  {% else %}
                                    {#                                        {{ "OK ca passe" }}#}
                                    {{ entity.dateentree is empty ? "" : entity.dateentree|date("d-m-Y", false) }}
                                {% endif %}
                            </td> 
                            <td style="padding:0px;vertical-align:middle;">{{ entity.assurance == 1 ? 'OUI' : 'NON' }}</td>
                            <td style="padding:0px;vertical-align:middle;">{% if entity.datenaiss %}{{entity.datenaiss|date('d-m-Y')}}{% endif %}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.lieuNaiss }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.sexe.sexe }}</td>
                            <td style="padding:0px;vertical-align:middle;">{{ entity.sitMat.sitMat }}</td>
                            <td style="padding:0px;vertical-align:middle;">
                                <a target="_blank" href="{{ path('grhcontrats_from_employe', { 'employe': entity.id }) }}"> Contrats </a> | 
                                <a  href="{{ path('grhemployes_show', { 'id': entity.id }) }}"> Afficher </a> | 
                                <a class="alert-success" href="{{ path('grhemployes_fiche', { 'id': entity.id }) }}">
                                    Fiche salari&eacute;
                                </a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
        
        
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}
