{% extends '::grh.layout.html.twig' %}


{% block module_name %} GRH - {{ Corp }}{% endblock module_name %}
{% block titre %} {{ Corporation }} - Intranet {% endblock%}

{% set module = "grhr" %}

{% block body -%}
    
    
    
<div class="" id="employees">
    {% if is_granted("ROLE_GRH") %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#new">Personnel</a></li>
        <li><a data-toggle="tab" href="#archived">Archives</a></li>
    </ul>

        
    <div class="tab-content">
      <div id="new" class="tab-pane fade in active">
          <table class="table table-bordered records_list">
            <thead>
                <tr>
                    <th style="border-radius: 0 style="padding:0px;vertical-align:middle;"px 0px;padding:0px;vertical-align:middle;">Nom</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Prenoms</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Contact </th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Email </th>
                </tr>
            </thead>
            <tbody>
            {% for entity in empNT %}
                <tr>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.nom }}</td>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.prenoms }}</td>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.phone }}</td>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.email }}</td>
                </tr>  
            {% endfor %}
            </tbody>
        </table>
      </div>
      <div id="archived" class="tab-pane fade in">
          <table class="table table-bordered records_list">
            <thead>
                <tr>
                    <th style="border-radius: 0 style="padding:0px;vertical-align:middle;padding:0px;vertical-align:middle;">Nom</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Prenoms</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Contact </th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Email </th>
                </tr>
            </thead>
            <tbody>
            {% for entity in empT %}
                <tr>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.nom }}</td>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.prenoms }}</td>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.phone }}</td>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.email }}</td>
                </tr>  
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
{% else %}
<table class="table table-bordered records_list">
    <thead>
        <tr>
            <th style="border-radius: 0 style="padding:0px;vertical-align:middle;padding:0px;vertical-align:middle;">Nom</th>
            <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Prenoms</th>
            <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Contact </th>
            <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Email </th>
        </tr>
    </thead>
    <tbody>
    {% for entity in empNT %}
        <tr>
            <td style="padding:0px;vertical-align:middle;">{{ entity.nom }}</td>
            <td style="padding:0px;vertical-align:middle;">{{ entity.prenoms }}</td>
            <td style="padding:0px;vertical-align:middle;">{{ entity.phone }}</td>
            <td style="padding:0px;vertical-align:middle;">{{ entity.email }}</td>
        </tr>  
    {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}