{% extends 'LooninsSuiviBundle::layout.html.twig' %}

{% block legend %}
     Nouvelle animatrice
{% endblock %}

{% block body %}
   	
   	<form action="{{ path('animatrice_create') }}" method="post">
    	<div>
            {{ form_label(form.employe, "Nom et prénoms Animatrice") }}
            {{ form_errors(form.employe, {'attr': {'class': 'alert alert-error'} }) }}
            {# Génération de l'input. #}
            {{ form_widget(form.employe) }} 
        </div>

        <div>
            {{ form_label(form.login, "Login Animatrice") }}
            {{ form_errors(form.login, {'attr': {'class': 'alert alert-error'} }) }}
            {# Génération de l'input. #}
            {{ form_widget(form.login) }} 
        </div>
     	{{ form_widget(form.submit , {'attr': {'class':'btn btn-success'} }) }} 
    	{{ form_rest(form) }}
    </form>
        
{% endblock %}
