{% extends 'LooninsNeguitBundle::layout.html.twig' %}

{% block body %}
    <h1>ProfilVirtuel list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Createdat</th>
                <th>Del</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profilVirtuel in profilVirtuels %}
            <tr>
                <td><a href="{{ path('pv_show', { 'id': profilVirtuel.id }) }}">{{ profilVirtuel.id }}</a></td>
                <td>{{ profilVirtuel.pseudo }}</td>
                <td>{{ profilVirtuel.createdAt }}</td>
                <td>{{ profilVirtuel.del }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pv_show', { 'id': profilVirtuel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pv_edit', { 'id': profilVirtuel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pv_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
