{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
    <style type="text/css">
        .nav-tabs a {
            background-color: transparent;
        }
        .nav-tabs a:hover {
            background-color: transparent;
            /*text-shadow: 2px 3px 5px;*/
        }
        .nav-tabs li a{
            text-transform: uppercase;
        }
    </style>


    <button id="show-form" class="btn btn-info" > Recherche avanc&eacute;e </button>
    <br style="clear:both;" />

    <form action="{{ path('grhresult') }}" method="POST" class="span12 hide" id="search-form" style="margin:0;">
        <fieldset class="span12"  >
            <div class="well span4" style="margin:0;">
                <label> La date debut contrat comprise entre </label>
                <div class="form-row" >
                    <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        {# Génération de l'input. #}
                        {{ form_errors(form.debutD) }}
                        {{ form_widget(form.debutD) }}
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
                ET
                <div class="form-row">
                    <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        {# Génération de l'input. #}
                        {{ form_errors(form.finD) }}
                        {{ form_widget(form.finD) }}
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
            </div>

            <div class="well span4">
                <label> La date fin contrat compris entre </label>
                <div class="form-row " >
                    <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        {# Génération de l'input. #}
                        {{ form_errors(form.debutF) }}
                        {{ form_widget(form.debutF) }}
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
                ET
                <div class="form-row ">
                    <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        {# Génération de l'input. #}
                        {{ form_errors(form.finF) }}
                        {{ form_widget(form.finF) }}
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
            </div>

            <div class="well span4" style="" >
                <div class="span6" style="padding-left:0;padding-right:0;margin:0;">
                    <label> Dur&eacute;e</label>
                    {{ form_errors(form.type) }}
                    {{ form_widget(form.type, {'attr':{'class':'span12'} } ) }}
                </div>
                                
                <div class="span6" style="padding-left:0;padding-right:0;margin:0;">
                    <label> Status </label>
                    {{ form_errors(form.status) }}
                    {{ form_widget(form.status, {'attr':{'class':'span12'} } ) }}
                </div>
                <div class="span6" style="padding-left:0;padding-right:0;margin:0;">
                    <label> Trier par </label>
                    {{ form_errors(form.tri) }}
                    {{ form_widget(form.tri, {'attr':{'class':'span12'} } ) }}
                </div>

                <div class="span6" style="padding-left:0;padding-right:0;margin:0;">
                    <label> &nbsp; </label>
                    {{ form_widget(form.submit, {'attr':{'class':'btn span12 btn-success'} } )}}
                </div>
            </div>

            <hr style="clear:both;" />           
            {{ form_rest(form) }}        
        </fieldset>
    </form>
    {% if resultats is defined and resultats|length > 0 %}
        <div class="span4 alert alert-info" style="margin:0;"> {{ resultats|length }}  R&eacute;sultats </div> 
    {% endif %} 
    <div class="tab-pane active span12" id="contrats" style="margin-left:0;">
        <table class="table table-bordered records_list" id="tableContrats">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Employ&eacute;</th>
                    <th>Debut</th>
                    <th>Dur&eacute;e</th>
                    <th>Fin</th>
                    <th>Date enregistrement</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for entity in resultats %}
                    {% set today =  ""|date('Y-m-d') %}
                    {% if entity.finReel %}
                        {% if (entity.type.duree > 0) and (entity.finReel|date('Y-m-d') < today|date('Y-m-d') ) %}
                            <tr class="alert alert-danger">
                            {% elseif entity.finReel|date('Y-m-d') == today|date('Y-m-d') %}
                            <tr class="alert alert-warning">
                            {% else %}
                            <tr>
                            {% endif  %}
                        {% else %}
                        <tr>
                        {% endif %}
                        <td>{% if entity.type %} {{ entity.type.type }}  {% endif %}</td>
                        <td>{% if entity.employe %}{{ entity.employe }}{% endif %}</td>
                        <td>{% if entity.debut %}{{ entity.debut|date('d-m-Y') }}{% endif %}</td>
                        <td>
                            {% if entity.type %}
                                {{  entity.type.duree == 0 ? "-" :  entity.type.duree }}
                            {% endif %}
                        </td>
                        {% if entity.type  %}

                            <td>
                                {% if entity.type.duree == 0 %}
                                    {{"Indefini"}}
                                {% else %}
                                    {% if entity.finReel %} {{ entity.finReel|date('d-m-Y') }} {% endif %} 
                                {% endif %}
                            </td>

                        {% endif %}
                        <td>{% if entity.date %}{{ entity.date|date('d-m-Y') }}{% endif %}</td>
                        <td>
                            {% if entity.status == 1 %}
                                En cours
                            {% elseif entity.status == 2 %}
                                Suspendu;
                            {% elseif entity.status == 3 %}
                                R&eacute;sili&eacute;
                            {% elseif entity.status == 4 %}
                                A terme
                            {% elseif entity.status == 5 %}
                                Achiv&eacute;
                            {% endif %}

                        </td>
                        <td>
                            {% if entity.status == 4 %}
                                <a class="alert-danger" href="{{path('grh_renew', {'employee': entity.employe.id }) }}" > 
                                    <i class="icon icon-refresh"> </i> 
                                    Renouveler le contrat </a>
                                {% else %}
                                <a href="{{ path('grhcontrats_show', { 'id': entity.id }) }}"> <i class="icon icon-eye-open"> </i> Afficher</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {#
        {% for ent in resultats %}
            {{ ent.employe.nom }} | {{ ent.status }}
            <br/>
        {% endfor %}#}


{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
       

    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#show-form').click(function(){
            var invisibility = $('#search-form').hasClass('hide');
            if(invisibility){
                $('#search-form').removeClass('hide');
            }
            else{
                $('#search-form').addClass('hide');
            }
        });
    </script>

{% endblock %}
