{# empty Twig template #}
<table class="table alert-info" id="tableEncours">
    <thead class="alert alert-success">
    <th>Type</th>
    <td> Employ&eacute; </td>
    <td> D&eacute;partement </td>
    <td> Debut </td>
    <td> Fin pr&eacute;vu </td>
</thead>
<tbody>
    {% for c in tab1 %}
        <tr>
            <td>{% if c.type %} {{ c.type.type }}  {% endif %}</td>
            <td> {{ c.employe }}</td>
            <td> {{ c.employe.departement }}</td>
            <td> {{ c.debut|date('d-m-Y') }}</td>

            {% if c.type  %}

                <td>
                    {% if c.type.duree == 0 %}
                        {{"Indefini"}}
                    {% else %}
                        {% if c.finReel %} {{ c.finReel|date('Y-m-d') }} {% endif %} 
                    {% endif %}
                </td>

            {% endif %}
        </tr>
    {% endfor %}
</tbody>
</table>