{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block branch %}
    
    <a  href="{{ path('grhcontrats_new') }}">
        <button style="margin:5px;" class="btn btn-primary"> <i class="icon-white icon-plus"> </i> Ajouter un contrat</button>
    </a>
{% endblock %}

{% block body -%}
    <div clas='col-lg-12'>
        <fieldset>
            <legend>Enregistrer un nouveau mail</legend>
            {{ form_start(form) }}
                <div class="form-row">
                    {# Génération de l'input. #}
                    {{form_row(form.email, {'attr' : { 'class' : 'form-control'  } }) }}
                </div>

                <div class="form-row ">
                    {# Génération de l'input. #}
                    {{form_row(form.submit, {'attr' : { 'class' : 'btn  btn-success'  } }) }}
                </div>

                <div class="form-row">
                    
                </div>
                
            {{ form_end(form) }}
        </fieldset>
    </div>
    
    <!-- <legend> Liste des contrats</legend> -->
    <div class="tab-pane active" id="contrats">
        <table class="table table-striped records_list" style="border-radius: 0px 0px;" id="tableContrats">
            <thead class="alert-success" style="border-radius: 0px 0px;" >
                <tr style="border-radius: 0px 0px;" >
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Email</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"></th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"></th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{entity.email}}</td>
                        <td><button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#mailModal{{entity.id}}">modifier</button></td>
                        <td><a href="{{ path('grhmail_delete', {'id': entity.id}) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer cet email?');"><i class="glyphicon glyphicon-trash" style="color: red;">supprimer</i></a></td>

                        <!-- Modal -->
                        <div id="mailModal{{entity.id}}" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Modification de mail</h4>
                              </div>
                              <div class="modal-body">
                                <form action="{{ path('grhmail_edit', {'id': entity.id} ) }}" method='post'>
                                  <div class="form-group">
                                      <label>Email</label>
                                      <input type="text" name="email" value="{{entity.email}}"  required /><button type="submit" class="btn btn-primary">Modifier</button>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                              </div>
                            </div>

                          </div>
                        </div>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <ul>
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {#{% for p in range(1, nombrePage) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a class="alert" href="{{ path('grhcontrats', {'page': p}) }}"> {{ p }} </a>
                </li>
            {% endfor %}#}
        </ul>
    </div>
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <style type="text/css">
          
        </style>
    {% endblock %}
