{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
    <legend> Liste des contrats</legend>
    <a href="{{ path('grhcontrats_new') }}">
        <button class="btn btn-primary"> <i class="icon-white icon-plus"> </i> Ajouter un contrat</button>
    </a>
    <br/>
    <br/>
    <div class="tab-pane active" id="contrats">
        <table class="table table-bordered records_list" id="tableContrats">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Employ&eacute;</th>
                    <th>Debut</th>
                    <th>Dur&eacute;e</th>
                    <th>Fin</th>
                    <th>Date enregistrement</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                   {# {% if date(entity.finReel) < date('-30days', 'Europe/Paris') %}
                        {{entity.debut|date('Y-m-d') }}
                    {% endif %}#}
                    <tr>
                        <td>{% if entity.type %}{{ entity.type.type }}{% endif %}</td>
                        <td>{% if entity.employe %}{{ entity.employe }}{% endif %}</td>
                        <td>{% if entity.debut %}{{ entity.debut|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            {% if entity.type %}
                                {{  entity.type.duree == 0 ? "-" :  entity.type.duree }}
                            {% endif %}
                        </td>
                        {% if entity.type  %}

                            <td>
                                {% if entity.type.duree == 0 %}
                                    {{"Indefini"}}
                                {% else %}
                                    {% if entity.finReel %} {{ entity.finReel|date('Y-m-d') }} {% endif %} 
                                {% endif %}
                            </td>

                        {% endif %}
                        <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            {% if entity.status == 1 %}
                                <span class="alert-success" > En cours</span>
                            {% elseif entity.status == 2 %}
                                <span class="alert-info" style="color: orange;background: wheat;"> Mise en disponibilit&eacute; </span>
                            {% elseif entity.status == 3 %}
                                <span class="alert-danger"> Rompu </span>
                            {% elseif entity.status == 4 %}
                                <span class="alert-info"> A terme </span>
                            {% endif %}

                        </td>
                        <td>
                            <a href="{{ path('grhcontrats_show', { 'id': entity.id }) }}"> <i class="icon icon-eye-open"> </i> Afficher</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <ul>
            {# On utilise la fonction range(a, b) qui crée un tableau de
            valeurs entre a et b #}
            {#{% for p in range(1, nombrePage) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('grhcontrats', {'page': p}) }}">{{ p
                        }}</a>
                </li>
            {% endfor %}#}
        </ul>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #contrats {
            height:400px;
            border: solid 1px silver;
            overflow-y: scroll;
        }

    </style>
{% endblock %}
