{% extends 'LooninsGrhBundle::layout.html.twig' %}

{% block body -%}
<legend>Nouveau contrat</legend>
<form action="{{ path('grhcontrats_create') }}" method="POST">
    {% if err_doublon != ""%}
        <p> <span class="alert alert-danger" > {{ err_doublon }} </span> </p>
    {% endif %}
    
    <div>
        {{ form_label(form.employe, "Matricule Employé")}}
        {{ form_errors(form.employe)}}
        {{ form_widget(form.employe)}}
    </div>
    <div>
        {{ form_label(form.type, "Type de contrat")}}
        {{ form_errors(form.type)}}
        {{ form_widget(form.type)}}
    </div>
    {#
    <div>
        {{ form_label(form.debut, "Date de debut du contrat")}}
        {{ form_errors(form.debut)}}
        {{ form_widget(form.debut)}}
    </div>
    #}

    <div class="form-row " >
        <div class="controls input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
            {# Génération de l'input. #}
            {{ form_errors(form.debut) }}
            {{ form_widget(form.debut) }}
            <span class="add-on"><i class="icon-remove"></i></span>
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
    </div>
 
    <div>
        {{ form_label(form.commentaire, "Commentaire")}}
        {{ form_errors(form.commentaire)}}
        {{ form_widget(form.commentaire)}}
    </div>
    <div>

    </div>
            {{ form_widget(form.submit, {'attr':{'class':'btn btn-success'} } )}}
            <a href="{{ path('grhcontrats',{'page':1}) }}" class="btn btn-primary"> Annuler </a>
    {{ form_rest(form) }}
</form>


<ul class="record_actions">
    <li>
        <a href="{{ path('grhcontrats',{'page':1}) }}">
<h4>	&llarr;Afficher la liste des contrats en cours </h4>
        </a>
    </li>
</ul>
{% endblock %}
