{% extends 'LooninsGrhBundle::layout.html.twig' %}


{% block body -%}
    
    
    
    <div class="" id="employees">
        <a class="btn btn-info" href="{{ path('grhemployes_new') }}"> Nouvel employ&eacute; </a>
        
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#new">Nouveaux</a></li>
        <li><a data-toggle="tab" href="#archived">Archivés</a></li>
    </ul>

        
    <div class="tab-content">
      <div id="new" class="tab-pane fade in active">
          <table class="table table-bordered records_list">
            <thead>
                <tr>
                    <th style="border-radius: 0 style="padding:0px;vertical-align:middle;"px 0px;padding:0px;vertical-align:middle;">Nom</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Prenoms</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Contact </th>
                </tr>
            </thead>
            <tbody>
            {% for entity in empNT %}
                <tr>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.nom }}</td>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.prenoms }}</td>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.phone }}</td>
                </tr>  
            {% endfor %}
            </tbody>
        </table>
      </div>
      <div id="archived" class="tab-pane fade in active">
          <table class="table table-bordered records_list">
            <thead>
                <tr>
                    <th style="border-radius: 0 style="padding:0px;vertical-align:middle;"px 0px;padding:0px;vertical-align:middle;">Nom</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;">Prenoms</th>
                    <th style="border-radius: 0px 0px;padding:0px;vertical-align:middle;"> Contact </th>
                </tr>
            </thead>
            <tbody>
            {% for entity in empT %}
                <tr>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.nom }}</td>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.prenoms }}</td>
                    <td style="padding:0px;vertical-align:middle;">{{ entity.phone }}</td>
                </tr>  
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}