{% extends 'base.html.twig' %}

{% block body %}
    <h1>ProfilVirtuel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profilVirtuel.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ profilVirtuel.pseudo }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ profilVirtuel.createdAt }}</td>
            </tr>
            <tr>
                <th>Del</th>
                <td>{{ profilVirtuel.del }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pv_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pv_edit', { 'id': profilVirtuel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
