{% extends 'LooninsSuiviBundle::layout.html.twig' %}

{% block legend %}
     Modification d'une entree statistique  {{ entity.dateStat|date('Ymd') }} / {{ entity.type }}
{% endblock %}

{% block body -%}
    
    <form class="form_horizontal" action="{{ path('stat_update', {'id':entity.id }) }}" method="post">
    	<div class="form-row">
            {{ form_label(edit_form.msgParHeure, "Messages par heure") }}
            {{ form_errors(edit_form.msgParHeure, {'attr': {'class': 'alert alert-error'} }) }}
            {# Génération de l'input. #}
            {{ form_widget(edit_form.msgParHeure, {'attr': {'class': 'span2'} }) }} 
        </div>

        <div class="form-row">
            {{ form_label(edit_form.total, "Total") }}
            {{ form_errors(edit_form.total, {'attr': {'class': 'alert alert-error'} }) }}
            {# Génération de l'input. #}
            {{ form_widget(edit_form.total, {'attr': {'class': 'span2'} } ) }} 
        </div>

        <div class="form-row">
            {{ form_label(edit_form.programmed, "Programmé") }}
                <div id="prg" class="controls input-append date form_time" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                    {{ form_errors(edit_form.programmed, {'attr': {'class': 'alert alert-error'} }) }}
                    {# Génération de l'input. #}
                    {{ form_widget(edit_form.programmed, {'attr': {'class': 'span1'} } ) }} 
                    <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
        </div>

     

        <div class="form-row">
            {{ form_label(edit_form.reel, "Réeel") }}
            {{ form_errors(edit_form.reel, {'attr': { 'class': 'alert alert-error'} }) }}
            {# Génération de l'input. #}

            {% if entity.retard == 1 %}
                {{ form_widget(edit_form.reel, {'attr': {'style':'width:100px;background-color:red;color:white;', 'readonly':'readonly'}}) }} 
            {% else %}
                {{ form_widget(edit_form.reel, {'attr': {'style':'background-color:green;width:100px;color:white;', 'readonly':'readonly'}}) }} 
            {% endif %}
            
        </div>

        {% if(entity.type.msgByConvRequired) %}
            <div class="form-row">
                {{ form_label(edit_form.msgParConv, "Message/conv") }}
                {{ form_errors(edit_form.msgParConv, {'attr': { 'class': 'alert alert-error'} }) }}
                {# Génération de l'input. #}
                {{ form_widget(edit_form.msgParConv, {'attr': {'style':'width:50px;'}}) }} 
            </div>
        {% endif %}

        <div class="form-row">
            {{ form_label(edit_form.animatrice, "Animatrice") }}
            {{ form_errors(edit_form.animatrice, {'attr': {'class': 'alert alert-error'} }) }}
            {# Génération de l'input. #}
            {{ form_widget(edit_form.animatrice) }} 
        </div>

        <div class="form-row">
            {{ form_label(edit_form.prime, "Prime") }}
            {{ form_errors(edit_form.prime, {'attr': {'class': 'alert alert-error'} }) }}
            {# Génération de l'input. #}
            {{ form_widget(edit_form.prime, {'attr': {'class': 'span1', 'style':'width:80px'} } ) }} 
        </div>
        
        <div class="form-row">
        	<label>&nbsp;</label>
     		{{ form_widget(edit_form.submit , {'attr': {'style':'float:left;', 'class':'btn btn-success'} }) }} &nbsp;
     		<!-- <a class="btn btn-warning" href="{{ path('stat_new') }}"> Annuler </a> -->
            {% if from is defined  and from == 'rech' %}
                <a class="btn btn-warning"
                href="{{ path('stat_show', {'table': entity.type.id, 'id':  entity.dateStat|date('Ymd')  }) }}" 
                >
                    Annuler
                </a>
            {% else %}
                <a class="btn btn-warning"
                href="{{ path('stat_search') }}" 
                >
                    Annuler
                </a>
            {% endif %}
        </div>

    	{{ form_rest(edit_form) }}
    	<br style="clear: both;" />

        <hr/>
        <span class="alert"> Editer les option avanc&eacute;es </span> 
        <br/>
        <br/>
            <pre>
                %%%
                Travaux en cours

                %%%
            </pre>
    </form>
    <hr/>



    




















<!-- 

        <ul class="record_actions">
    <li>
        <a href="{{ path('stat') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul> -->
{% endblock %}
