{% extends 'LooninsNeguitBundle::layout.html.twig' %}

{% block body %}
    <h3> Creation d'un nouveau pseudo </h3>

    {{ form_start(form, {'attr': {'class':'form_horizontal'}}) }}
        <div class="form-row">
            {{ form_errors(form.pseudo, {'attr': {'class': 'alert alert-error', 'style':'width:90px'} }) }}
            {# Génération de l'input. #}
            {{ form_widget(form.pseudo, {'attr': {'class': 'span1', 'style':'width:200px','placeholder':'Tapez le pseudo ici', 'AUTOCOMPLETE':'OFF'} }) }} 
        </div>
        <div class="form-row">
            {{ form_errors(form.employe, {'attr': {'class': 'alert alert-error', 'style':'width:90px'} }) }}
            {# Génération de l'input. #}
            {{ form_widget(form.employe, {'attr': {'class': 'span1', 'style':'width:200px','placeholder':'Tapez le pseudo ici', 'AUTOCOMPLETE':'OFF'} }) }} 
        </div>
        
        <div class="form-row">
            <button class="btn btn-success" type="submit"> Enregistrer </button>
        </div>
        {{ form_widget(form) }}
    {{ form_end(form) }}


    <hr style="clear: both;" />
    
    
{% endblock %}
